server:
  port: 8080
  servlet:
    session:
      cookie:
        secure: false
        http-only: true
        same-site: lax
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/truthify
    username: root

  mail:
   host: smtp.gmail.com
   port: 587
   username: ${GMAIL_USERNAME}
   password: ${GMAIL_PASSWORD}
   properties:
    mail:
      smtp:
        auth: true
        starttls:
          enable: true

  security:
    oauth2:
      client:
        registration:
          # --- Google 설정 ---
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/google" 
          # --- Kakao 설정 ---
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"
            scope: profile_nickname
            client-name: Kakao
        provider:
          # --- Kakao Provider 설정 ---
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id 

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

truthify:
  openai:
    base-url: https://api.openai.com/v1
    api-key: ${OPENAI_API_KEY}
    model: gpt-4o-mini
